@use "../../global/styles/em" as em;

:host {
  display: block;
}

p {
  color: var(--emphasis-low);
  font-size: em.to-em(14);
}

i {
  color: var(--emphasis-low);
  cursor: pointer;
}

.password-validation-container {
  .is-invalid {
    color: var(--danger);
  }

  .is-valid{
    color: var(--st-green);
  }
}