:host {
  display: inline-block;

  &.disabled {
    cursor: not-allowed;
  }
}

button {
  overflow: hidden;
  position: relative;

  &:disabled {
    cursor: not-allowed;
  }
}

.spinner {
  position: absolute;
  left: 0;
  right: 0;
}

@keyframes slideOutFadeUp {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes slideInFadeDown {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.fadeout {
    animation: slideOutFadeUp 0.3s forwards;
}

.fadein {
    animation: slideInFadeDown 0.3s forwards;
}
