@use "../../global/styles/em" as em;

:host {
    display: inline-block;
}

input {
    padding: 10px;
    width: 37px;
    height: 48px;
    border: 1px solid var(--border);
    border-radius: 4px;
    font-weight: 400;
    font-size: em.to-em(20);
    line-height: em.to-em(24);
    text-align: center;
    color: var(--emphasis-high);
    background-color: var(--surface-5);
    text-transform: uppercase;
}

span {
    width: 8px;
    height: 1px;
    display: block;
    background-color: var(--support-9);
}
