$primary-color: var(--primary);
$primary-color-hover: light(--primary, 5%);
$primary-color-active: dark(--primary, 5%);
$track-background-color: var(--divider);
$thumb-size: 20px;
$track-height: 8px;
$border-radius-small: 4px;
$border-radius-large: 0.75rem;

:host {
    display: block;
    width: 100%;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: $track-height;
    background: $track-background-color;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    border-radius: $border-radius-small;

    &:hover {
        opacity: 1;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: $thumb-size;
        height: $thumb-size;
        border-radius: 50%;
        background: $primary-color;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        margin-top: calc(-#{$thumb-size} / 2 + #{$track-height} / 2);
        transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

        &:hover {
            background: $primary-color-hover;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        }

        &:active {
            background: $primary-color-active;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
        }
    }

    &::-webkit-slider-runnable-track {
        width: 100%;
        height: $track-height;
        background: linear-gradient(to right, $primary-color 0%, $primary-color var(--value, 0%), $track-background-color var(--value, 0%), $track-background-color 100%);
        border-radius: $border-radius-small;
        cursor: pointer;
    }

    &::-moz-range-thumb {
        width: $thumb-size;
        height: $thumb-size;
        border-radius: 50%;
        background: $primary-color;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        border: none;
        transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

        &:hover {
            background: $primary-color-hover;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        }

        &:active {
            background: $primary-color-active;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
        }
    }

    &::-moz-range-track {
        width: 100%;
        height: $track-height;
        background: linear-gradient(to right, $primary-color 0%, $primary-color var(--value, 0%), $track-background-color var(--value, 0%), $track-background-color 100%); // Usando variáveis
        border-radius: $border-radius-small;
        cursor: pointer;
    }

    &::-ms-thumb {
        width: $thumb-size;
        height: $thumb-size;
        border-radius: 50%;
        background: $primary-color;
        cursor: pointer;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        margin-top: 0;
        transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

        &:hover {
            background: $primary-color-hover;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        }
        
        &:active {
            background: $primary-color-active;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
        }
    }

    &::-ms-track {
        width: 100%;
        height: $track-height;
        background: transparent;
        border-color: transparent;
        color: transparent;
        cursor: pointer;
    }

    &::-ms-fill-lower {
        background: $primary-color;
        border-radius: $border-radius-small;
    }

    &::-ms-fill-upper {
        background: $track-background-color;
        border-radius: $border-radius-small;
    }
}