@import "../variables";
@import "../em";

.custom-option {
    color: $emphasis-high;
    cursor: pointer;

    span {
        display: block;
        padding: 4px 8px;
    }

    &:hover {
        background-color: $surface-1;
    }

    &.first {
        border-radius: 8px 8px 0 0;
    }

    &.last {
        border-radius: 0 0 8px 8px;
    }
}

.divider {
    background-color: $surface-4;
    height: 1px;
    padding: 0 !important;
}